# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [10]:
my_int1 = 15
my_int2 = 15
print(my_int1 == my_int2)
print(id(my_int1) == id(my_int2))

True
True

Змінні рівні за значенням, а також посилаються на один і той самий обʼєкт в памʼяті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [12]:
print(isinstance(True, bool))
print(isinstance(True, int))

True
True

Для перевірки належності змінної до певного типу даних можна використати функцію isinstance(). Ця функція приймає два параметри: об'єкт, який потрібно перевірити, і тип даних, до якого потрібно перевірити належність.

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [30]:
my_int = 10
my_float = 5.25
addition = my_int + my_float
subtraction = my_int - my_float
division = my_int / my_float
multiplication = my_int * my_float
division_no_remainder = my_int // my_float
modulus = my_int % my_float
exponentiation = my_int ** my_float
print("addition = " , addition)
print("subtraction = " , subtraction)
print("division = " , division)
print("multiplication = " , multiplication)
print("division no remainder = " , division_no_remainder)
print("modulus = " , modulus)
print("exponentiation = " , exponentiation)

addition =  15.25
subtraction =  4.75
division =  1.9047619047619047
multiplication =  52.5
division no remainder =  1.0
modulus =  4.75
exponentiation =  177827.94100389228

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [31]:
my_int_float1 = int(my_float)
my_int_float2 = int(division)
my_int_float3 = int(exponentiation)
print(my_float , " = " , my_int_float1)
print(division , " = " , my_int_float2)
print(exponentiation , " = " , my_int_float3)
my_bool_true = True
my_bool_false = False
my_int_bool1 = int(my_bool_true)
my_int_bool2 = int(my_bool_false)
print("True = " , my_int_bool1)
print("False = " , my_int_bool2)

5.25  =  5
1.9047619047619047  =  1
177827.94100389228  =  177827
True =  1
False =  0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [2]:
empty_string1 = ""
empty_string2 = str()
print(empty_string1)
print(empty_string2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [34]:
apostrophe1 = "'"
apostrophe2 = r"'"
print(apostrophe1)
print(apostrophe2)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [38]:
surname = "Melnyk"
formatted_string = f"My surname is {surname}"
print(formatted_string)

My surname is Melnyk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [37]:
string = "My dog is crazy."
word_list = string.lower().split()
print(word_list)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [43]:
list1 = [0, 1, 2, 3, 4]
list2 = list(range(5))
print(len(list1))

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [4]:
list3 = [1, 2, 3, 4]
list4 = [5, 6, 7]
list3.extend(list4)
print(list3)

[1, 2, 3, 4, 5, 6, 7]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [49]:
list5 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
first_el_of_last_row = list5[-1][0]
print(first_el_of_last_row)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [6]:
list6 = [1, 0.2, True, [3, 4], "word", False, 'a', ["one", "two"], 45, 12.35]
elements = list6[2:-2]
print(elements)

[True, [3, 4], 'word', False, 'a', ['one', 'two']]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [12]:
tuple = (1,)
tuple

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [54]:
tuple1 = (2.4, 0.76, 12.5, 67.12, 3.4, 0.7, 5.8, 1.2, 2.3, 3.45, 4.56)
result_tuple = tuple1[::-2]
print(result_tuple)

(4.56, 2.3, 5.8, 3.4, 12.5, 2.4)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [8]:
empty_set = set()
empty_set.add(1)
empty_set.add('word')
empty_set.add(0.25)
print(empty_set)

{0.25, 1, 'word'}

Множини є змінними типом даних. Ми можемо додавати чи видаляти елементи до множини.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [57]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Деякі елементи "зникають", оскільки у множині кожен елемент може зустрічатися тільки один раз. Коли ми конвертуємо список у множину, елементи які повторюються видаляються, залишаються тільки унікальні елементи.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [58]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 6, 8, 10}
union_set = set1.union(set2)
difference_set = set1.difference(set2)
intersection_set = set1.intersection(set2)
symmetric_set = set1.symmetric_difference(set2)
print("union: " , union_set)
print("difference: " , difference_set)
print("intersection: " , intersection_set)
print("symmetric difference: " , symmetric_set)

union:  {1, 2, 3, 4, 5, 6, 8, 10}
difference:  {1, 3, 5}
intersection:  {2, 4}
symmetric difference:  {1, 3, 5, 6, 8, 10}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [9]:
my_dictionary = {}
my_dictionary[1] = 'int'
my_dictionary[0.5] = 'float'
my_dictionary["word"] = 'string'
my_dictionary[(1, 2, 3)] = 'touple'
print(my_dictionary)

{1: 'int', 0.5: 'float', 'word': 'string', (1, 2, 3): 'touple'}

Список не може бути ключем у словнику. Ключ у словнику має бути не змінним, а оскільки список є змінним типом даних, то він не може бути використаний як ключ.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [64]:
my_dict1 = {'one' : 1}
my_dict2 = {'two' : my_dict1}
my_dict3 = {'three' : my_dict2}
print(my_dict3['three']['two']['one'])

1

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.